<nav class="bg-black flex justify-between items-center py-4 px-8 text-gray-300 shadow-md outline-default outline-color-gray-800">
    <div class="flex space-x-8 items-center">
        <a href="/" class="text-xl text-gray-300 no-underline font-bold hover:text-white transition-all duration-300">
            Virgo
        </a>

        <div class="space-x-4">
            <a class="no-underline text-gray-300 hover:text-white hover:underline transition-all duration-300" href="">Documentation</a>
            <a class="no-underline text-gray-300 hover:text-white hover:underline transition-all duration-300" href="">About</a>
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <a href="https://github.com/DaleStack/Virgo" target="_blank"><img class="shadow-md shadow-color-red-500 flex items-center" src="static/landing/images/github.svg" alt="github"></a>
        <a class="no-underline text-gray-600 hover:text-white shadow-lg bg-purple-400 rounded-md px-2 py-1 hover:bg-purple-600 transition-all duration-300" href="">Get Started</a>
    </div>

</nav>